@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
    height:10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --light-cream: #faf7f0;
    --midnight: #050e2b;
    --dark-blue: #080055;
    --purple: #472e97;
    --light-yellow: #edd69d;
    --summer: #eeaa44;
}

